<div class="row bg-dark text-white p-5">
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li>where to buy</li>
            <li> <a href="#">See Authorized retailers</a> </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li>Hindustan Rewards</li>
            <li>Join Now</li>
            <li>Learn More</li>
           <li> Account</li>

        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li>News & info</li>
            <li>About Hindutsan ltd</li>
            <li>Product support</li>
           <li> Account</li>

        </ul>

    </div>
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li>Other</li>
            <li>Play station </li>
            <li>Hindustan Music</li>
           <li> contribute to corona relief</li>

        </ul>
    </div>
</div>