


          <nav class="navbar navbar-expand-lg navbar-light text-center" style="background-color: #e3f2fd;">
            <div class="container-fluid">   
              <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="nav-link  "  routerLink="mobiles">Mobiles</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link"  routerLink="television" >Television</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="bikes">Bikes</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="data">Mydata</a>
                    
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="fake">Pantone</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" routerLink="users">Customers</a>
                  </li>
                 
                  
                 
                </ul>
              </div>
            </div>
          </nav>

  <router-outlet></router-outlet>
