<div class="border border-5 bg-white p-5">

    <h3 class="display-6 text-center">Contact us</h3>

    <form>
        
        <div >
            <label for="Name" class="form-label">Your name</label>
                <input type="text" id="Name" name="Name" class="form-control">
        </div>

        <div >
            <label for="Email" class="form-label">Your email address</label>
                <input type="email" id="Email" name="Email" class="form-control">
        </div>

        <div >
            <label for="Message" >Your message</label>
                <textarea id="Message" name="Message" class="form-control" rows="6" maxlength="3000" ></textarea>
        </div>

            <button type="submit" class="btn btn-success mt-3">Send Message</button>

    </form>
</div>
