
<div class="bg-dark text-white text-center p-3 "> Join us at Hindustan Products ltd..<button class="nav-item " [routerLink]="['/register']"> Register now</button></div>

    
  <div class="row">
    <div class="col-sm-6">
    <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner ">
          <div class="carousel-item ">
            <img src="https://wallpapercave.com/wp/wp5399943.jpg"  class=" img-fluid d-block w-100 h-100  mx-auto" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 >register now</h5>
              <p>Be part in  our journey of unmatched legacy ..</p>
            </div>
          </div>
          <div class="carousel-item active">
            <img src="https://wallpapercave.com/wp/wp7832489.jpg" class=" img-fluid d-block w-100  h-100 mx-auto " alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Laptops </h5>
              <p class="text-warning">Premium laptops from international brands like lenova,apple ,many more..</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://wallpapercave.com/wp/wp7832383.jpg" class="img-fluid d-block w-100 h-100 mx-auto" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-dark">Apple Products</h5>
              <p class="text-dark">Hindustan its more than Apple store</p>
            </div>
          </div>
        </div>
    <button class="carousel-control-prev green-arrows slick-carousel" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next green-arrows slick-carousel" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
     <div class="col-sm-6 text-center p-3">
     <div class="display-5"><b>Where reality matches Quality</b><span><img src="https://img-premium.flaticon.com/png/512/546/546448.png?token=exp=1621092871~hmac=3dba99ed08940bc10490cb0f15f42a95" height="50px"> </span></div>
     <div>When we sell our own products, we get excited about individual product features and specifications.
        We live and breathe our company, our website, and our products</div>
      
  
        <form class="form-label">
          <input type="email" class="form-control text-center" placeholder="What you are looking for...">
        <button class="btn btn-success mt-2">Get started..</button>
      </form>
  </div>
</div>

<div class="row icon  p-3">
  <div class="col-sm-2"> <img src="https://img-premium.flaticon.com/png/512/254/254638.png?token=exp=1621097336~hmac=8d24f2e91d4ec84e7e8dbd17f8ace6c7"></div>
  <div class="col-sm-2"> <img src="https://img-premium.flaticon.com/png/512/22/22935.png?token=exp=1621097364~hmac=311e4379da0692f089e76a047f2411e7"></div>
  <div class="col-sm-2"> <img src="https://img-premium.flaticon.com/png/512/900/900263.png?token=exp=1621097413~hmac=49d081b1a3d79583b817d5a5644b40cb"></div>
  <div class="col-sm-2"> <img src="https://img-premium.flaticon.com/png/512/3067/3067260.png?token=exp=1621097453~hmac=73db5604e9a03a59ad1dcfd22ee10058"></div>
  <div class="col-sm-2"> <img src="https://img-premium.flaticon.com/png/512/1530/1530297.png?token=exp=1621097490~hmac=865d3056c8b599fcc584e575f7c54bbf"></div>
  <div class="col-sm-2"> <img src="https://img-premium.flaticon.com/png/512/2627/2627370.png?token=exp=1621097518~hmac=bc12fdc0fe000d0b640778900e8005f0"></div>

</div>


<h1 class="text-center display-5 bg-success bg-gradient text-warning " >Top mobiles Offers festival</h1>
<div class="row  row-cols-1 row-cols-sm-3 rows-cols-md-4  g-3">

<div class="col ">
    <div class="card  h-100 " >
      <div class="row g-0">
        <div class="col-md-6">
          <img class="card-image" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-xr-red-select-201809?wid=940&hei=1112&fmt=png-alpha&.v=1551226038669" height="100%" width="100%" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">IPhone XR</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <button class="btn btn-success">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="col ">
    <div class="card  h-100 " >
      <div class="row g-0">
        <div class="col-md-6">
          <img  class="  card-image"  src="https://5.imimg.com/data5/IC/XR/EF/SELLER-73970163/21000-google-pixel-mobile-phone-500x500.jpg" height="100%" width="100%" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">One plus 8 pro</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <button class="btn btn-success">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  

    <div class="col ">
    <div class="card  h-100 " >
      <div class="row g-0">
        <div class="col-md-6">
          <img class="card-image"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_okA4Xm17EwFVOzyfmmolAby35BoKoBCL8g&usqp=CAU" height="100%" width="100%" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Google pixel 3A</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <button class="btn btn-success">Add to cart</button>
          </div>
        </div>
      </div>
    </div>


    </div></div>


    <div class="display-3 text-center  bg-muted">Hindustan Television Festival</div>
    <div class="container">
<div class="row row-cols-2 row-cols-sm-3 mb-3">

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://st.depositphotos.com/1265046/1328/i/600/depositphotos_13280842-stock-photo-tv-screen-white.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sony Tv</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-success">Add to Cart</a>
      </div>
    </div></div>


<div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.ibef.org//uploads/blog/television_11.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Samsung Tv</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-success">Add to cart</a>
      </div>
    </div>
    </div>
<div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZzbRBnG8_sUWIgMkd9AJBmnd1tT3r2G298Q&usqp=CAU" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Onida</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-success">Add to Cart</a>
      </div>
    </div>
  </div>
  </div>
</div>
  <app-footer></app-footer>
  